
header {
  color: #00cc66;
  text-align: center;
}
#banner {
  max-width: 900px;
}
.description {
  font-size: large;
}

body {
  background-color: bisque;
  text-align: center;
}


@media screen and (max-width: 900px){
  body {
    width: 80%;
  }
}

footer {
  text-align: left;
}