
header {
  color: #00cc66;
  text-align: center;
}
#banner {
  max-width: 100vw;
}

body {
  background-color: bisque;
  text-align: center;
  background-image: ;
}

.description {
  font-size: large;
  max-width: 80vw;
  margin: 0 auto;
  
}

  #tile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.food-description{
  margin: 20px;
  border:2px solid black;
  border-radius: 8px;
  padding: 8px;
}
footer {
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 468px){
  #tile-container {
    flex-direction: column;
    justify-content: center;
  }
  #banner {
    width: 100vw;
  }
}

